<html>
  <head>
    <title>My CV</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div id="section-left">
      <div class="section intro">
        <div class="logo"></div>
        <h1>Anh Nguyen</h1>
        <div class="content">
          <span class="dob">18 APR 1999</span> <br>
          <span class="intro">Student</span> <br>
        </div>
        <hr>
        <div id="contact">

          <span class="num"><i class="fa fa-phone" aria-hidden="true"></i>+84165970xxxx</span>
          <div class="email">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
            <a href="mailto:rambahadur@example.com">shiroemonmadeon@gmai.com</a>
          </div>
        </div>
      </div>
    </div>

    <div id="section-right">
      <div class="wrapper">
        <div class="section">
          <div class="title">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
          </div>
          <p>I am a student</p>
        </div>

        <div class="section">
          <div class="title">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Experience
          </div>
          <ul>
          <li>Competitive Programming</li>
          <li>Web Programming</li>
          <li>Graphic Design</li>
          </ul>
        </div>

        <div class="section">
          <div class="title">
            <i class="fa fa-book" aria-hidden="true"></i>
            Education
          </div>
          <ul>
          <li>Khuong Mai Primary School</li>
          <li>Luong The Vinh Secondary School</li>
          <li>HUS High School for Gifted Students</li>
          <li>University of Engineering and Technology</li>
          <li>Toyo University</li>
          </ul>
        </div>

        <div class="section">
          <div class="title">
            <i class="fa fa-book" aria-hidden="true"></i>
            Skills
          </div>
          <ul>
            <li>Programming language: C/C++, Python, Javascript</li>
            <li>Adobe Photoshop, Adobe Illustrator, Adobe Premiere</li>
          </ul>
        </div>

        <div class="section">
          <div class="title">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            Awards
          </div>
        </div>
      </div>
    </div>
  </body>
</html>